[submodule "Docker-Service-Dashboard"]
	path = Docker-Service-Dashboard
	url = https://github.com/BoeJaker/Docker-Service-Dashboard.git
[submodule "Docker-Healthchecks"]
	path = Docker-Healthchecks
	url = https://github.com/BoeJaker/Docker-Healthchecks.git
[submodule "Docker-Red-Lab"]
	path = Docker-Red-Lab
	url = https://github.com/BoeJaker/Docker-Red-Lab.git
